.wrap {
    margin: 0 50px;

    .hero {
        display: flex;
        height: 60vh;

        &__article {
            flex: 2;
            background-image: url(https://jolly-kalam-23776e.netlify.app/restaurantwebsite/images/taco.jpg);
            background-position: center;
        }

        &__title {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 5rem;
        }

        &__header {
            background-color: $bg-color;
            width: fit-content;
            padding: 0.5rem 1rem;
        }

        &__text {
            background-color: $bg-color;
            width: fit-content;
            padding: 0.4rem 0.7rem;
            font-weight: bold;
        }

        &__aside {
            margin-left: 1rem;
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        &__side {
            background-color: $bg-color;
            flex: 1;
            margin-bottom: 1rem;
            @include flex;
            flex-direction: column;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__header-secondary {
            margin: 0;
            font-size: 3.5rem;
        }
    }
}

