.wrap {
    margin: 0 50px;

    @media screen and (max-width: 500px) {
        margin: 4rem 1rem 0;
    }

    .hero {
        display: flex;
        height: 60vh;

        @media screen and (max-width: 500px) {
            flex-direction: column;
        }

        &__article {
            flex: 2;
            background-image: url(https://jolly-kalam-23776e.netlify.app/restaurantwebsite/images/taco.jpg);
            background-position: center;

            @media screen and (max-width: 500px) {
                background-size: cover;
                height: 40vh;
            }
        }

        &__title {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 5rem;

            @media screen and (max-width: 500px) {
                margin-left: 1rem;
            }
        }

        &__header {
            background-color: $bg-color;
            width: fit-content;
            padding: 0.5rem 1rem;

            @media screen and (max-width: 500px) {
                padding: 0.5rem;
                font-size: 1.2rem;
            }
        }

        &__text {
            background-color: $bg-color;
            width: fit-content;
            padding: 0.4rem 0.7rem;
            font-weight: bold;

            @media screen and (max-width: 500px) {
                padding: 0.2rem;
                font-size: 1rem;
            }
        }

        &__aside {
            margin-left: 1rem;
            flex: 1;
            display: flex;
            flex-direction: column;

            @media screen and (max-width: 500px) {
                margin: 0.5rem 0 1rem;
                flex-direction: row;
            }
        }

        &__side {
            background-color: $bg-color;
            flex: 1;
            margin-bottom: 1rem;
            @include flex;
            flex-direction: column;

            &:last-child {
                margin-bottom: 0;
            }
            
            @media screen and (max-width: 500px) {
                margin: 0 0.5rem 0 0;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &__header-secondary {
            margin: 0;
            font-size: 3.5rem;

            @media screen and (max-width: 500px) {
                font-size: 2.5rem;
            }
        }
    }
}

