.nav {
    margin: 50px 50px 1rem;

    @media screen and (max-width: 500px) {
        margin: 1rem;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;

        @media screen and (max-width: 550px) {
            // display: none;
            // position: relative;
            position: absolute;
            top: 4rem;
            right: 3rem;
            flex-direction: column;
            width: fit-content;
            transform: scaleY(0);
            transform-origin: top right;
            transition: transform 500ms;
            z-index: 1;
        }
    }

    &__item {
        flex: 1;
        list-style: none;
        text-align: center;
        background-color: $bg-color;
        margin-right: 0.5rem;

        &:last-child {
            margin: 0;
        }

        &:nth-child(4) {
            @media screen and (max-width: 500px) {
                margin-right: 0;
            }
        }

        @media screen and (max-width: 500px) {
            margin-bottom: 0.5rem;
            margin-right: 0;
        }
    }

    &__link {
        text-decoration: none;
        display: inline-block;
        width: 100%;
        padding: 0.7rem;
        font-size: 1.5rem;
        color: black;
        font-weight: bold;
        text-transform: uppercase;

        @media screen and (max-width: 500px) {
            // padding: 0.3rem;
            padding: 2rem 3rem;
            // font-size: 1.2rem;
            font-size: 2rem;
        }
    }

    &__mobile {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 0.5rem 0.5rem 0.8rem;
        // padding-bottom: 6px;
        display: inline-block;
        cursor: pointer;
        border: 2px solid $bg-color;
    }

    &__hamburger {
        width: 40px;
        height: 3px;
        background-color: black;
        display: inline-block;
        position: relative;

        @media screen and (min-width: 550px) {
            display: none;
        }

        &::before {
            content: '';
            position: absolute;
            top: -10px;
            right: 0;
            width: 40px;
            height: 3px;
            background-color: black;
        }

        &::after {
            content: '';
            position: absolute;
            top: 10px;
            right: 0;
            width: 40px;
            height: 3px;
            background-color: black;
        }
    }
}