.nav {
    margin: 50px 50px 1rem;

    @media screen and (max-width: 500px) {
        margin: 1rem;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        flex: 1;
        list-style: none;
        text-align: center;
        background-color: $bg-color;
        margin-right: 0.5rem;

        &:last-child {
            margin: 0;
        }

        @media screen and (max-width: 500px) {
            margin-bottom: 0.5rem;

            &:nth-child(4) {
                @media screen and (min-width: 500px) {
                    margin-right: 0;
                }
            }
        }
    }

    &__link {
        text-decoration: none;
        display: inline-block;
        width: 100%;
        padding: 0.7rem;
        font-size: 1.5rem;
        color: black;
        font-weight: bold;
        text-transform: uppercase;

        @media screen and (max-width: 500px) {
            padding: 0.3rem;
            font-size: 1.2rem;
        }
    }
}